.acf-admin-notice {
  display: none !important;
}

.gforms_edit_form div[style="margin:16px 0 16px 0; border-left:4px solid #AB0400; background-color:#FAFAFA; text-align:center; display:block!important; visibility: visible!important; min-width:880px; box-sizing: border-box;-webkit-box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.05);-moz-box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.05); box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.05);"] {
  display: none !important;
}
.gforms_edit_form div[style="margin:16px 0 16px 0; border-left:4px solid #AB0400; background-color:#FAFAFA; text-align:center; display:block!important; visibility: visible!important; min-width:880px; box-sizing: border-box;-webkit-box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.05);-moz-box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.05); box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.05);"] a,
.gforms_edit_form div[style="margin:16px 0 16px 0; border-left:4px solid #AB0400; background-color:#FAFAFA; text-align:center; display:block!important; visibility: visible!important; min-width:880px; box-sizing: border-box;-webkit-box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.05);-moz-box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.05); box-shadow: 0px 4px 3px 0px rgba(0,0,0,0.05);"] img {
  display: none !important;
}